In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import folium
import numpy as np
from folium.plugins import HeatMap
from folium.plugins import HeatMapWithTime

In [5]:
location_df = pd.read_excel("../sensores_airenuevoleon.xlsx")
datos_df = pd.read_csv("../WeatherData.csv")
location_df
datos_df

,Dia,Registros_id,PM10,PM25,O3,CO,NO1,NO2,NOx,SO2,...,LLUVIA,PRESIONATM,HUMEDAD,RS,VIENTOVEL,Year,period_signature,key,hour,month
0,2022-01-01 00:00:00,2048929,78.0,12.715,0.073,0.94,0.00390,0.01660,0.0135,0.0062,...,0.0,720.866667,42.0,0.016667,10.600000,2022,01-01 00:00:00,ANL1_01-01 00:00:00,0,1
1,2022-01-01 01:00:00,2048943,67.0,12.010,0.066,1.05,0.00380,0.02130,0.0161,0.0050,...,0.0,722.533333,43.5,0.000000,9.600000,2022,01-01 01:00:00,ANL1_01-01 01:00:00,1,1
2,2022-01-01 02:00:00,2048957,69.0,12.285,0.053,1.15,0.00390,0.02930,0.0176,0.0045,...,0.0,723.066667,49.0,0.000000,9.000000,2022,01-01 02:00:00,ANL1_01-01 02:00:00,2,1
3,2022-01-01 03:00:00,2048971,74.0,11.990,0.029,1.57,0.00410,0.02893,0.0167,0.0043,...,0.0,723.433333,51.0,0.000000,6.233333,2022,01-01 03:00:00,ANL1_01-01 03:00:00,3,1
4,2022-01-01 04:00:00,2048985,99.0,11.400,0.019,2.05,0.00360,0.02856,0.0152,0.0041,...,0.0,723.633333,55.0,0.000000,5.266667,2022,01-01 04:00:00,ANL1_01-01 04:00:00,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379751,2025-04-04 09:00:00,2440659,55.0,20.360,0.014,0.55,0.00185,0.00930,0.0111,0.0041,...,0.0,708.200000,2.0,0.000000,5.900000,2025,04-04 09:00:00,ANL9_04-04 09:00:00,9,4
379752,2025-04-04 10:00:00,2440674,64.0,21.420,0.011,0.57,0.00210,0.01110,0.0133,0.0041,...,0.0,708.300000,5.0,0.000000,3.500000,2025,04-04 10:00:00,ANL9_04-04 10:00:00,10,4
379753,2025-04-04 11:00:00,2440689,75.0,27.640,0.006,0.58,0.01190,0.01820,0.0302,0.0041,...,0.0,708.700000,10.0,0.000000,6.000000,2025,04-04 11:00:00,ANL9_04-04 11:00:00,11,4
379754,2025-04-04 12:00:00,2440704,73.0,22.430,0.010,0.60,0.00190,0.01320,0.0152,0.0041,...,0.0,709.200000,8.0,0.000000,4.300000,2025,04-04 12:00:00,ANL9_04-04 12:00:00,12,4
379755,2025-04-04 13:00:00,2440719,73.0,23.970,0.005,0.72,0.00620,0.01730,0.0236,0.0041,...,0.0,709.900000,8.0,0.000000,2.800000,2025,04-04 13:00:00,ANL9_04-04 13:00:00,13,4

In [7]:
location_df.columns

Index(['Sensor_id', 'Zona', 'Calle', 'Municipio', 'CP', 'Latitud', 'Longitud',
       'Sistema', 'Bot_id', 'USE_IN_BOTS', 'website_visible'],
      dtype='object')

In [9]:
location_df

,Sensor_id,Zona,Calle,Municipio,CP,Latitud,Longitud,Sistema,Bot_id,USE_IN_BOTS,website_visible
0,ANL1,Guadalupe,AV. ELOY CAVAZOS Y PABLO LIVAS,Guadalupe,67140,25.670,-100.250,AireNuevoLeon,3,1,1
1,ANL10,Apodaca,MARIANO ABASOLO,Apodaca,66000,25.780,-100.170,AireNuevoLeon,3,1,1
2,ANL11,Monterrey,PREPA TEC GARZA LAGUERA,Monterrey,64989,25.620,-100.270,AireNuevoLeon,3,1,1
3,ANL12,Obispado,5 DE MAYO,Monterrey,64040,25.680,-100.340,AireNuevoLeon,3,1,1
4,ANL13,Juarez,LAZARO GARZA AYALA ESQ. CON GRAL. SANTIAGO TAPIA,Juárez,67250,25.650,-100.100,AireNuevoLeon,3,1,1
5,ANL15,Pesqueria,Boulevard Rogelio A. Pérez Arrambide,Pesquería,66650,25.790,-100.080,AireNuevoLeon,3,1,1
6,ANL16,San Juan,"Av. Misión Arcos 69, Misión San Juan",García,66023,25.785,-100.464,AireNuevoLeon,3,1,1
7,ANL2,San Nicolás,ANTONIO SOTO Y GAMMA ESQ. CON ALAMO,San Nicolás de los Garza,66440,25.750,-100.260,AireNuevoLeon,3,1,1
8,ANL3,Santa Catarina,"PARQUE JAROCHO, JARDINES DE DANTA CATARINA",Santa Catarina,66350,25.680,-100.470,AireNuevoLeon,3,1,1
9,ANL4,San Pedro,GRAL. GARZA AYALA ESQUINA CON DIEGO SALDÍVAR,San Pedro,66280,25.670,-100.410,AireNuevoLeon,3,1,1
10,ANL5,San Nicolás (UANL),"CIUDAD UNIVERSITARIA, FAC CONTADURIA",San Nicolás de los Garza,66451,25.730,-100.310,AireNuevoLeon,3,1,1
11,ANL6,García,PRESIDENCIA MUNICIPAL DE GARCIA,García,66004,25.800,-100.580,AireNuevoLeon,3,1,1
12,ANL7,San Bernabé,"PROL AZTLAN 9610, SAN BERNABE VIII SECTOR",Monterrey,64217,25.760,-100.370,AireNuevoLeon,3,1,1
13,ANL8,Cadereyta,CAMPESINA CRUZ CON VICENTE GUERRERO,Cadereyta Jiménez,67483,25.600,-99.990,AireNuevoLeon,3,1,1
14,ANL9,Escobedo,"MARGARITAS 225, LOS OLIVOS",General Escobedo,66070,25.800,-100.330,AireNuevoLeon,3,1,1

In [11]:
datos_df = datos_df.merge(location_df[['Sensor_id', 'Zona', 'Calle', 'Municipio', 'CP', 'Latitud', 'Longitud']], on="Sensor_id", how="left")

In [12]:
datos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379756 entries, 0 to 379755
Data columns (total 28 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Dia               379756 non-null  object
 1   Registros_id      379756 non-null  int64
 2   PM10              379756 non-null  float64
 3   PM25              338785 non-null  float64
 4   O3                379756 non-null  float64
 5   CO                379756 non-null  float64
 6   NO1               379756 non-null  float64
 7   NO2               379756 non-null  float64
 8   NOx               379756 non-null  float64
 9   SO2               379756 non-null  float64
 10  Sensor_id         379756 non-null  object
 11  TEMPERATURA       379756 non-null  float64
 12  LLUVIA            379691 non-null  float64
 13  PRESIONATM        379756 non-null  float64
 14  HUMEDAD           379756 non-null  float64
 15  RS                379756 non-null  float64
 16  VIENTOVEL         379756 non-null  float64
 17  Year              379756 non-null  int64
 18  period_signature  379756 non-null  object
 19  key               379756 non-null  object
 20  hour              379756 non-null  int64
 21  month             379756 non-null  int64
 22  Zona              379756 non-null  object
 23  Calle             379756 non-null  object
 24  Municipio         379756 non-null  object
 25  CP                379756 non-null  int64
 26  Latitud           379756 non-null  float64
 27  Longitud          379756 non-null  float64
dtypes: float64(16), int64(5), object(7)
memory usage: 81.1+ MB