In [24]:
import pandas as pd 
import polars as pl 
import datetime

In [21]:
start_date = "2022-01-01"
end_date = "2025-04-04"

# Generate the list of dates (as datetime64)
all_dates = pd.date_range(start=start_date, end=end_date).date
all_dates

array([datetime.date(2022, 1, 1), datetime.date(2022, 1, 2),
       datetime.date(2022, 1, 3), ..., datetime.date(2025, 4, 2),
       datetime.date(2025, 4, 3), datetime.date(2025, 4, 4)], dtype=object)

In [17]:
df = pl.read_csv(r"../WeatherData.csv").to_pandas()
df["Dia"] = pd.to_datetime(df["Dia"], format="%Y-%m-%d %H:%M:%S")
df["Fecha"] = df["Dia"].dt.date

In [18]:
df.describe()

,Dia,Registros_id,PM10,PM25,O3,CO,NO1,NO2,NOx,SO2,TEMPERATURA,LLUVIA,PRESIONATM,HUMEDAD,RS,VIENTOVEL,Year,hour,month
count,379756,3.797560e+05,379756.000000,338785.000000,379756.000000,379756.000000,379756.000000,379756.000000,379756.000000,379756.000000,379756.000000,379691.000000,379756.000000,379756.000000,379756.000000,379756.000000,379756.000000,379756.000000,379756.000000
mean,2023-09-13 12:09:38.389282304,2.246383e+06,57.807087,19.815376,0.025887,1.321736,0.007954,0.014932,0.023201,0.004117,21.941194,0.030312,715.355593,50.945477,0.120216,7.695736,2023.219815,11.481406,6.280617
min,2022-01-01 00:00:00,2.048929e+06,0.000000,0.000000,0.000000,0.000000,0.000500,0.000000,0.000500,0.000010,-9.210000,0.000000,690.200000,0.000000,0.000000,0.000000,2022.000000,0.000000,1.000000
25%,2022-11-20 22:00:00,2.149626e+06,35.000000,10.000000,0.012000,0.710000,0.003200,0.007400,0.012300,0.002800,16.820000,0.000000,709.800000,33.000000,0.000000,4.300000,2022.000000,5.000000,3.000000
50%,2023-10-09 03:30:00,2.247660e+06,52.000000,17.000000,0.023000,1.200000,0.005300,0.012400,0.018600,0.003700,23.220000,0.000000,714.500000,54.000000,0.001000,7.100000,2023.000000,11.000000,6.000000
75%,2024-07-03 17:00:00,2.343615e+06,75.500000,26.000000,0.036000,1.810000,0.010267,0.020600,0.030600,0.005000,27.940000,0.000000,721.600000,73.000000,0.205000,10.700000,2024.000000,17.000000,9.000000
max,2025-04-04 13:00:00,2.440719e+06,154.000000,570.000000,0.082000,4.570000,0.063222,0.056100,0.110500,0.529900,44.940000,718.500000,742.633333,116.000000,0.744000,26.400000,2025.000000,23.000000,12.000000
std,NaN,1.128653e+05,30.372458,12.934925,0.017026,0.769803,0.007396,0.009667,0.015419,0.003449,8.635545,1.359869,9.273590,26.385659,0.187173,4.496636,0.955161,6.930691,3.606597

In [23]:
# Find missing dates
missing_dates = set(all_dates) - set(df["Fecha"])
missing_dates = sorted(list(missing_dates))  # Sort for clarity

print("Missing dates:", missing_dates)
len(missing_dates)

Missing dates: [datetime.date(2022, 3, 21), datetime.date(2022, 5, 1), datetime.date(2022, 7, 14), datetime.date(2022, 7, 15), datetime.date(2022, 7, 16), datetime.date(2022, 7, 17), datetime.date(2022, 7, 18), datetime.date(2022, 7, 19), datetime.date(2022, 7, 20), datetime.date(2022, 7, 21), datetime.date(2022, 7, 22), datetime.date(2022, 7, 23), datetime.date(2022, 7, 24), datetime.date(2022, 7, 26), datetime.date(2022, 7, 27), datetime.date(2023, 5, 6), datetime.date(2023, 5, 7), datetime.date(2023, 5, 8), datetime.date(2023, 5, 9), datetime.date(2023, 5, 10), datetime.date(2023, 5, 11), datetime.date(2023, 5, 12), datetime.date(2023, 5, 13), datetime.date(2023, 5, 14), datetime.date(2023, 5, 15), datetime.date(2023, 5, 16), datetime.date(2023, 5, 17), datetime.date(2023, 5, 18), datetime.date(2023, 5, 19), datetime.date(2023, 5, 20), datetime.date(2023, 5, 21), datetime.date(2023, 5, 22), datetime.date(2023, 6, 17), datetime.date(2023, 6, 18), datetime.date(2023, 6, 19), datetime.date(2023, 6, 20), datetime.date(2023, 6, 21), datetime.date(2023, 6, 22), datetime.date(2023, 6, 23), datetime.date(2023, 6, 24), datetime.date(2023, 6, 25), datetime.date(2023, 6, 26), datetime.date(2023, 6, 27), datetime.date(2023, 6, 28), datetime.date(2023, 6, 29), datetime.date(2023, 6, 30), datetime.date(2024, 11, 11), datetime.date(2024, 11, 12)]

48

In [28]:
df.loc[df["Fecha"] == datetime.date(2022,3,22), "Sensor_id"].unique()

array(['ANL1', 'ANL10', 'ANL11', 'ANL12', 'ANL13', 'ANL15', 'ANL2',
       'ANL3', 'ANL4', 'ANL5', 'ANL6', 'ANL7', 'ANL8', 'ANL9'],
      dtype=object)